* {
  margin:0;
  padding:0;
}

html, body {
  width:100%;
  height:100%;
}

canvas {
  display:block;
}


body {
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  color: #272635;
}

/*particles background*/
#particles-js {
  /*background-color: #817A81;*/
  position: relative;
  height: 100%;
  width: 100%;
}

/*intro section*/
#intro {
  position: absolute;
}

.intro-text {
  display: inline-block;
  padding: 1%;
}

/*link icons styling*/
svg {
  margin: 10px;
}

path {
    color: #272635;
}


path:hover {
  color: #817A81;
}

/*about section*/
.about-text {
  margin-top: 3%;
  padding: 1%;
}

/*font styling*/
h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 80px;
  margin: 2px;
  /*padding: 1%;*/
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 40px;
  margin: 2px;
  /*padding: 1%;*/
}


h2 {
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 1px;
  font-size: 25px;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 1px;
  font-size: 20px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

a {
    font-weight: 500;
    color: #272635;
}

a:hover {
  color: #817A81;
}
